@model AssertionModel
<p>
    This form will allow you to send a SAML2 Response to a service provider.
    If the In Response To ID field is empty, the Response is considered unsolicited (IDP initiated).
</p>
<p>
    Please fill in the required fields.
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.InResponseTo)
        @Html.EditorFor(m => m.InResponseTo)
        @Html.ValidationMessageFor(m => m.InResponseTo)
    </div>

    <div>
        @Html.LabelFor(m => m.AssertionConsumerServiceUrl)
        @Html.EditorFor(m => m.AssertionConsumerServiceUrl)
        @Html.ValidationMessageFor(m => m.AssertionConsumerServiceUrl)
    </div>

    <div>
        @Html.LabelFor(m => m.NameId)
        @Html.EditorFor(m => m.NameId)
        @Html.ValidationMessageFor(m => m.NameId)
    </div>

    <button>Submit</button>
}