@model AssertionModel
<p>
    This form will allow you to send a SAML2 Response to a service provider. If the In Response To ID field is
    empty, the Response is considered unsolicited (IDP initiated).
</p>
<p>
    The SAML messages sent by the Stub Idp will be signed with <em>@Html.ActionLink("this certificate", "Index", "Certificate")</em>.
    To validate the responses you need to download it and configure your service provider to trust it.
    <em>Caution</em>: Never trust this certificate in a production environment as it will allow anyone to sign in to
    your application as whatever user they choose.
</p>

<p>
    Metadata for the Stub Idp is available at @Html.ActionLink("/Metadata", "Index", "Metadata") or in a
    @Html.ActionLink("browser friendly version", "BrowserFriendly", "Metadata") version (with a content type
    that makes the browser display the entire XML).
</p>
<p>
    Please fill in the required fields.
</p>

@using (Html.BeginForm(null))
{
    <div>
        @Html.LabelFor(m => m.InResponseTo)
        @Html.EditorFor(m => m.InResponseTo)
        @Html.ValidationMessageFor(m => m.InResponseTo)
    </div>

    <div>
        @Html.LabelFor(m => m.AssertionConsumerServiceUrl)
        @Html.EditorFor(m => m.AssertionConsumerServiceUrl)
        @Html.ValidationMessageFor(m => m.AssertionConsumerServiceUrl)
    </div>

    <div>
        @Html.LabelFor(m => m.NameId)
        @Html.EditorFor(m => m.NameId)
        @Html.ValidationMessageFor(m => m.NameId)
    </div>

    <button>Submit</button>
}