<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sustainsys.Saml2 Stub Idp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700" rel="stylesheet">
    @System.Web.Optimization.Styles.Render("~/Content/css-bundle")
    @System.Web.Optimization.Scripts.Render("~/Scripts/js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="description" content="A stub idp for testing" />
</head>
<body>
    <div class="nav navbar navbar-sustainsys navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://sustainsys.com">
                <div class="navbar-right pull-right"></div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Request.ApplicationPath">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Metadata<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Single Idp", "BrowserFriendly", "Metadata")</li>
                        <li>@Html.ActionLink("Federation", "BrowserFriendly", "Federation")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tenant<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @if (ViewContext.RouteData.Values["idpId"] != null)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Manage", "Index", "Manage", null, new { @class = "dropdown-item" })</li>
                }
                        <li>@Html.ActionLink("Create New", "Index", "Manage", new { idpId = Guid.NewGuid() }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Single Sign On", "Index", "Home")</li>
                        <li>@Html.ActionLink("Single Logout", "Index", "Logout")</li>
                        <li>@Html.ActionLink("Discovery Service", "Index", "DiscoveryService")</li>
                    </ul>
                </li>
            </ul>
        </div>
        @if(ViewBag.Title != null)
        {
            <div class="page-heading">
                @ViewBag.Title
            </div>
        }
    </div>
    @RenderBody()
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46788957-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
