@{
    ViewBag.Title = "Home Page";
}


<h1>Sample Saml2 MVC Authentication Application</h1>
<p>
    This is a sample MVC application for Saml2 authentication using the MVC Controller configuration.
</p>

@if (!User.Identity.IsAuthenticated)
{
    <p>
        You are currently <span id="status">not signed in</span>.
    </p>
    <p>
        <a href="@Url.Content("~/AuthServices/SignIn")">Sign in</a> - default IDP
        @foreach (var idp in Kentor.AuthServices.Configuration.KentorAuthServicesSection.Current.IdentityProviders)
        {
            var entityID = idp.EntityId;
            var destinationUrl = idp.SignOnUrl;
            <br />
            <a href="@Url.Content("~/AuthServices/SignIn?idp=" + HttpUtility.UrlEncode(entityID))">Sign in</a>@: - @entityID - @destinationUrl
        }
    </p>
}
else
{
    <p>
        You are signed in. <a href="@Url.Action("../AuthServices/Logout", new { ReturnUrl = ".?Status=LoggedOut" })">Log out</a>.
    </p>
    <table>
        <thead>
            <tr>
                <th>Claim Type</th>
                <th>Claim Value</th>
                <th>Issuer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
            {
                <tr>
                    <td>@c.Type</td>
                    <td>@c.Value</td>
                    <td>@c.Issuer</td>
                </tr>                
            }
        </tbody>
    </table>
}

<p>
    <a href="@Url.Content("~/AuthServices/")">Service Provider Metadata.</a>
</p>
