@model DiscoveryServiceModel
@{
    ViewBag.Title = "Disovery Service";
}

<div class="container">
    <div class="col-lg-8 card">
        <h2>Send Discovery Service Response</h2>
        <div class="contents">
            <p>
                This is a dummy discovery service. Normally this page isn't accessed
                directly. A service provider (SP) can redirect the client here according
                to the
                <a href="https://www.oasis-open.org/committees/download.php/28049/sstc-saml-idp-discovery-cs-01.pdf" target="_blank">
                    idp discovery protocol
                </a> to have the client select an idp to use to authenticate.
            </p>
            @using (Html.BeginForm())
            {
                <div class="form-group row">
                    @Html.LabelFor(m => m.entityID, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.entityID)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.@return, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.@return, new { @class = "col-md-8 form-control"})
                        @Html.ValidationMessageFor(m => m.@return)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.returnIDParam, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.returnIDParam, new { @class = "col-md-8 form-control" })
                        @Html.ValidationMessageFor(m => m.returnIDParam)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.SelectedIdp, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.SelectedIdp, new { @class = "col-md-8 form-control" })
                        @Html.ValidationMessageFor(m => m.SelectedIdp)
                    </div>
                </div>
                <button class="btn btn-primary" id="submit">Redirect back to SP</button>
            }
        </div>
    </div>
    @Html.Partial("_About")
</div>

