<p>
    Metadata for the Stub Idp is available at @Html.ActionLink(UrlResolver.MetadataUrl.PathAndQuery, "Index", "Metadata") or in a
    @Html.ActionLink("browser friendly version", "BrowserFriendly", "Metadata") version (with a content type
    that makes the browser display the entire XML). There is also
    @Html.ActionLink("federation metadata", "Index", "Federation"), with this idp as the only federation member
    available (@Html.ActionLink("browser friendly version", "BrowserFriendly", "Federation")).
</p>

<p>
    The Stub idp contains a @Html.ActionLink("stub idp discovery service", "Index", "DiscoveryService") that
    can be used when testing federations.
</p>
